@font-face {
  font-family: "main-heading";
  src: url(../assets/fonts/SairaStencilOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Saira-thin";
  src: url(../assets/fonts/Saira-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Saira-light";
  src: url(../assets/fonts/Saira-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Saira-regular";
  src: url(../assets/fonts/Saira-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira-med";
  src: url(../assets/fonts/Saira-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Saira-semibold";
  src: url(../assets/fonts/Saira-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Saira-bold";
  src: url(../assets/fonts/Saira-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}