$theme-color : #29FF65;
$theme-light-color : #F1FFF5;
$theme-drk-color : #00310E;
$theme-med-color : #d4ffe0;
$text-color : #8E8A8A;
$headings-color : #464545;
$black : #000;
$white : #fff;
$padding-mob : 0.3rem 0.5rem;
$padding-tab : 0.5rem 1.5rem;
$padding-desk : 0.8rem 3.1rem;
$light-box-shadow : 1px 1px 5px rgba(0, 0, 0, 0.1);
$normal-txt-sz : 1rem;
$heading-sz : 8rem;

$small-screens : 425px;
$med-screens : 768px;
$large-screens : 1000px;

