@import '../../components/hero/hero.home';
@import '../../components/marque/marque';
@import '../../components/influencetobrand/influencetobrand';
@import '../../components/ourteam/ourteam';
@import '../../components/ourinvestors/ourinvestors';
@import '../../components/gotdoubts/doubts';
@import '../../components/footer/footer';

main {
    height: 100%;
    width: 100%;

    section {
        width: 100%;
        min-height: 50%;
    }
}

.our-team,
.investors {
    min-height: 60vh;
    padding: $padding-mob;
    padding-block: 1.5rem;
    position: relative;

    hr {
        margin-block: 1.5rem;
    }

    hr.sticky {
        position: sticky;
        top: 15%;
    }

    .heading {
        position: sticky;
        top: 0;
        left: 0;
        background-color: $theme-light-color;
        z-index: 9;
        // opacity: 0.2;

        h1 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            line-height: 1;
            color: $headings-color;
            font-size: clamp(20px, 16vw, 130px);
        }
    }
}


// width : 768px 
@media (min-width : $med-screens) {

    .our-team,
    .investors {
        padding: $padding-tab;
        padding-block: 2.5rem;

        hr {
            margin-block: 2.5rem;
        }

        hr.sticky {
            top: 16%;
        }

        .heading {
            h1 {
                font-size: clamp(20px, 12vw, 130px);
            }
        }
    }
}


// width : 1000px
@media (min-width : $large-screens) {

    .our-team,
    .investors {
        padding: $padding-desk;
        padding-block: 2.5rem;

        hr.sticky {
            top: 18%;
        }
    }
}

