.influencetobrand {

    .slider-cont {
        width: 100%;
        height: 100vh;
        overflow-x: auto;
        padding-top: 3.5rem;
        position: relative;

        .slider {
            height: 100%;
            width: fit-content;
            display: flex;

            img {
                height: 100%;
                object-fit: fill;
                display: block;
            }
        }
    }
}

@media (min-width : 768px) {
    .influencetobrand {
        .slider-cont {
            overflow: hidden;
        }
    }
}

@media (min-width : $large-screens) {
    .influencetobrand {
        .slider-cont {
            height: 100vh;
        }
    }
}