.career {
    padding: $padding-mob;
    padding-block: 4rem 1rem;
    background-color: $theme-med-color;
    min-height: 50vh;
}

@media (min-width : $med-screens) {
    .career {
        padding: $padding-tab;
    }
}

@media (min-width : $large-screens) {
    .career {
        padding: $padding-desk;
        padding-block: 5rem 1rem;

        h1 {
            margin-bottom: 1rem;
        }

        .form-group.options {
            width: 100%;

            .radio-group {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2rem;
                margin-top: .2rem;

                label {
                    flex-shrink: 0;

                }
            }
        }
    }
}